.progress {
  display: flex;
  align-items: center;
}

.progress-bar {
  margin-right: 5px;
  margin-left: 5px;
  background-color: rgba(196, 196, 196, 0.7);
  color: aliceblue;
  height: 10px;
  border-radius: 10px;
}
